@model IEnumerable<EDDIESCARDEALAERSHIP.Models.ApplicationUser>

@{
    ViewData["Title"] = "UserList";
}

<h1>UserList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAccess)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAccess)
                </td>

                <td>
                    @if (item.isAccess)
                    {
                        <a asp-action="UserList" asp-route-userid="@item.Id" asp-route-isaccess="false">Take Access</a>
                    }
                    else
                    {
                        <a asp-action="UserList" asp-route-userid="@item.Id" asp-route-isaccess="true">Give Access</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
